@model SchoolProgram.Models.SchoolClass

@{
    ViewData["Title"] = Model.Id;
}
<style>
    .card {
        border-radius: 10px;
        box-shadow: 5px 5px 15px #808080;
        transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -webkit-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        margin-bottom: 3rem;
        margin-top: 75px;
    }

    .card:hover {
        background: #00ffff;
        box-shadow: 6px 6px 10px #808080;
    }

    #teacher-card {
        background: rgba(91, 157, 217, 0.65);
        border-left: 20px solid rgba(213, 146, 49, 0.75);
    }
    #student-card {
        border-left: 20px solid rgba(56, 89, 102, 0.75);
        background: rgba(100, 112, 179, 0.65);
    }

    #card-image{
        object-fit: cover;
        margin-top: -65px;
    }

    .card-body {
        padding: 0;
    }

</style>


<div>
    <h2>@Model.Id information</h2>
    <a asp-action="Index">Back to List</a>
    <hr />
    <dl class="row">
    </dl>
</div>


<div class="card-columns" style=" columns:4; margin-top: 2rem;">


    @try
    {
        <div id="teacher-card" class="card">

            <div class="card-body p-2 text-center">
                <img id="card-image" class="card-img-top img-fluid rounded-circle w-50 mb-3" src="@Model.Teacher.Picture" alt="Person Image">
                <h5 class="card-title mt-1">@Model.Teacher.DisplayName</h5>
                <h6 class="card-text">Teacher</h6>
                <h6 style="margin-bottom: .5rem;" class="card-text  text-info">@Model.Teacher.Email</h6>
            </div>
        </div>

        @foreach (var student in Model.Students)
        {

            <div id="student-card" class="card">

                <div class="card-body p-2 text-center">
                    <img id="card-image" class="card-img-top img-fluid rounded-circle w-50 mb-3" src="@student.Picture" alt="Person Image">
                    <h4 class="card-title mt-1">@student.DisplayName</h4>
                    <h6 class="card-text">Student</h6>
                    <h6 style="margin-bottom: .5rem;" class="card-text">@Model.Id</h6>
                </div>
            </div>

        }
    }
    catch (Exception)
    {

        throw;
    }

</div>









